@use "../loader.scss";
@import "../declaration.scss";

html,
body {
  @include putSameValue(100%, width, height);
  @include putSameValue(0, padding, margin);
  background-color: #f8fafc;
}

main {
  min-height: 100%;
  gap: 20px;
  display: grid;
  place-items: center;
}

main > div {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  @include putSameValue(690px, width, max-width);
  min-height: 200px;
  place-items: center;
  border-radius: 8px;
  background-color: $lightGrey;
}

main > div:first-child {
  height: 60%;
  align-self: end;
  display: grid;
  grid-template-columns: 18% 32% 50%;
}

main > div:last-child {
  min-height: 130px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

div > img {
  height: 140px;
  object-fit: contain;
  image-rendering: pixelated;
  max-width: 150px;
  max-height: 20vh;
}

div > p:first-child {
  font-weight: bold;
}

p + div {
  margin-left: 50px;
}

body > div:not(.pokedex-loader-animation) {
  align-items: center;
  margin: 0px 0px 0px 20px;
  display: flex;
  gap: 10px;
  position: absolute;
  top: 10px;
}

button {
  @include putSameValue(10px, padding, border-radius);
  @include box-shadow($lightGrey 0 10px 10px);
  background-color: white;
  &:hover {
    cursor: pointer;
  }
}

.pokedex-navigation-arrows-cards-stats-container {
  max-height: 300px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border-radius: 0px;
  box-shadow: none;
}

.pokedex-previous-and-next-buttons {
  padding: 15px;
  box-shadow: #ededed 0 10px 10px;
  border-radius: 50%;
  margin: 0px 40px;

  &:hover {
    cursor: pointer;
  }

  & i {
    font-size: 25px;
    background-color: transparent;
  }
}

.pokedex-type-icon {
  font-size: 1.4em;
  margin: 0;
}

.pokedex-details-id-of-pokemon {
  @include putSameValue(80px, width, height);
  @include putSameValue(20px, margin-left, margin-top);
  @include putSameValue(center, justify-content, align-items);
  display: flex;
  place-self: start;
  border-radius: 50%;
  border: 1.5px solid black;
}

.pokedex-details-information-container > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 10px;
  width: 100%;
}

.pokedex-type-word-container {
  @include putSameValue(6px, padding, border-radius);
  text-align: center;
  font: {
    size: 0.8em;
    weight: bold;
  }
  background-color: $fire-type;
}

.pokedex-type-word-container > p {
  margin: 0;
}

p::first-letter {
  text-transform: capitalize;
}

.pokedex-details-information-container > div:last-child {
  display: flex;
  justify-content: space-evenly;
}

.pokedex-details-information-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

#pokedex-card-stats {
  height: auto;
  @include putSameValue(690px, width, max-width);
  border-radius: 8px;
  background-color: $lightGrey;
}

.pokedex-stats-main-container {
  width: 100%;
}

.pokedex-stats-main-container > div {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 20% 75% 5%;
  width: 100%;
}

.pokedex-progress-bar-container {
  margin-right: 20px;
}

.pokedex-progress-bar-container > div {
  margin: 10px 0px;
  border-radius: 6px;
  height: 30px;
  max-width: 100%;
  background-color: #a1a1aa;
}

.pokedex-stat-name {
  margin-left: 10px;
}

.background-grass-type {
  background-color: $grass-type;
}

.background-water-type {
  background-color: $aqua-type;
}
.background-fire-type {
  background-color: $fire-type;
}

.background-normal-type {
  background-color: $normal-type;
}

.background-poison-type {
  background-color: $poison-type;
}

.background-flying-type {
  background-color: $flying-type;
}

.background-bug-type {
  background-color: $bug-type;
}

.background-fairy-type {
  background-color: $fairy-type;
}

.background-psychic-type {
  background-color: $psychic-type;
}

.background-electric-type {
  background-color: $electric-type;
}

.background-ground-type {
  background-color: $ground-type;
}

.background-fighting-type {
  background-color: $fighting-type;
}

.background-ghost-type {
  color: white;
  background-color: $ghost-type;
}

.background-dragon-type {
  background-color: $dragon-type;
}

.background-ice-type {
  background-color: $ice-type;
}

.background-rock-type {
  background-color: $rock-type;
}

.background-steel-type {
  background-color: $steel-type;
}

.background-dark-type {
  color: white;
  background-color: $dark-type;
}

.pokedex-details-information-container > div:last-child {
  display: flex;
  justify-content: flex-start;
}

.pokedex-details-information-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
}

#pokedex-card-stats {
  height: auto;
  max-height: 300px;
}

.pokedex-stats-main-container {
  width: 100%;
}

.pokedex-stats-main-container > div {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 20% 75% 5%;
  width: 100%;
}

.pokedex-progress-bar-container {
  margin-right: 20px;
}

.pokedex-progress-bar-container > div {
  margin: 10px 0px;
  border-radius: 6px;
  height: 30px;
  max-width: 100%;
  background-color: white;
}

.pokedex-stat-name {
  margin-left: 10px;
}

#loader {
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
  bottom: 50%;
}
.pokedex-details-information-container > div:last-child {
  display: flex;
  justify-content: flex-start;
}

.pokedex-details-information-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
}

#pokedex-card-stats {
  height: auto;
  max-height: 300px;
}

.pokedex-stats-main-container {
  width: 100%;
}

.pokedex-stats-main-container > div {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 20% 75% 5%;
  width: 100%;
}

.pokedex-progress-bar-container {
  margin-right: 20px;
}

.pokedex-progress-bar-container > div {
  margin: 10px 0px;
  border-radius: 6px;
  height: 30px;
  max-width: 100%;
  background-color: white;
}

.pokedex-stat-name {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  body > div {
    display: flex;
    justify-content: center;
    position: static;
    gap: 10px;
    margin: 20px 0 20px 0;
  }

  main > div {
    width: 300px;
    margin: 0px auto;
  }

  main > div:first-child {
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 1fr;
  }

  div > img {
    margin: 0;
  }

  .pokedex-previous-and-next-buttons {
    margin: 0;
  }

  .pokedex-navigation-arrows-cards-stats-container {
    min-width: 300px;
  }

  .pokedex-navigation-arrows-cards-stats-container > div:first-child {
    position: absolute;
    top: 1.5%;
    left: 1%;
    z-index: 5;
  }

  .pokedex-navigation-arrows-cards-stats-container > div:last-child {
    position: absolute;
    top: 1.5%;
    right: 1%;
    z-index: 5;
  }

  .pokedex-type-word-container {
    margin-right: 5px;
  }

  .pokedex-details-information-container {
    grid-column: 1 / 3;
  }

  .pokedex-stats-main-container > div {
    grid-template-columns: 30% 58% 12%;
  }

  .pokedex-progress-bar-container {
    margin-right: 10px;
  }

  .pokedex-previous-and-next-buttons i {
    font-size: 20px;
  }

  #loader {
    position: absolute;
    top: 60%;
    left: 45%;
  }
}

@media screen and (max-width: 300px) {
  main > div {
    width: 250px;
    margin: 0px auto;
  }

  body > div {
    margin: 20px 0 20px 0;
    justify-content: center;
    position: static;
  }

  body > div:nth-child(3) {
    left: 7px;
    top: 15px;
  }

  body > div:nth-child(4) {
    left: 89%;
    top: 15px;
  }

  main > div:first-child {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 1fr;
  }

  .pokedex-previous-and-next-buttons {
    width: auto;
    padding: 10px;
  }

  .pokedex-navigation-arrows-cards-stats-container > div:first-child,
  .pokedex-navigation-arrows-cards-stats-container > div:last-child {
    @include putSameValue(30px, width, height);
    top: 2.8%;
    right: 0%;
  }

  .pokedex-navigation-arrows-cards-stats-container > div:last-child {
    @include putSameValue(30px, width, height);
    top: 2.8%;
    left: 85%;
  }

  .pokedex-navigation-arrows-cards-stats-container {
    min-width: 250px;
  }

  .pokedex-details-information-container > div:first-child {
    width: 100%;
    justify-content: space-around;
  }

  .pokedex-type-word-container {
    margin-left: 0px;
  }

  .pokedex-details-id-of-pokemon {
    margin-left: 5px;
  }

  .pokedex-previous-and-next-buttons i {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  main {
    grid-row-gap: 0px;
  }

  .pokedex-previous-and-next-buttons i {
    font-size: 2em;
  }
}
