@use "../loader.scss";
@import "../declaration.scss"; 

html, body {
  @include putSameValue(100%, width, height);
  @include putSameValue(0, padding, margin);
  background-color: #f8fafc;
}

header > div {
  @include putSameValue(center, justify-content, align-items);
  @include putSameValue(auto, margin-left, margin-right);
  display: flex;
  flex-direction: column;
  min-width: $numberInPourcentage100;
}

h1 + div {
  width: 800px;
  display: flex;
  flex-direction: row;
}

input + button {
  @include putSameValue(35px, max-height, min-width);
  display: flex;
  align-items: center;
  border: none;
  box-shadow: none;
}

div img {
  width: 30px;

  &:hover {
    cursor: pointer;
  }
}

main {
  @include putSameValue(100%, height, width);
  @include putSameValue(auto, margin-right, margin-left);
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: center;
  margin-top: 30px;
}

main > div:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 23px;
  place-items: center;
  min-width: 960px;
}

main > div:last-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  height: 100px;
}

p {
  margin: 0;

  font-weight: bold;
  &::first-letter {
    text-transform: capitalize;
  }
}

button {
  @include putSameValue(10px, padding, border-radius);
  @include box-shadow($lightGrey 0 10px 10px);
  background-color: white;
  &:hover {
    cursor: pointer;
  }
}

div ~ p {
  grid-column-start: second;
  grid-row-start: row2-start;

  font: {
    weight: bold;
    size: 1em;
  }
}

a {
  color: black;
  text-decoration: none;
}

i {
  font-size: 1em;
}

a[href^="#header"] {
  margin-left: 20px;
}

a > button {
  border-radius: 50%;
}

.pokedex-search-bar-container {
  @include border(1.5px, lightgrey);
  @include box-shadow(0px 0px 20px -18px);
  @include putSameValue(center, align-items, justify-content);
  border-radius: 10px;
  display: flex;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #fff;
  width: $numberInPourcentage100;

  &:hover {
    @include border(1.5px, $black);
    @include box-shadow(0px 0px 20px -17px);
  }
  &:active {
    transform: scale(0.99);
  }
}

.pokedex-search-bar-container input {
  @include putSameValue(10px, padding, border-radius);
  width: $numberInPourcentage100;
  border: none;
  font-weight: bold;
  letter-spacing: 1.4px;
  &:focus {
    outline: none;
  }
}

.pokedex-card-info {
  @include putSameValue(300px, width, max-width);
  display: grid;
  grid-template-columns: [first] 30% [second] 45% [third] 25%;
  grid-template-rows: [row1-start] 80% [row2-start] 20%;
  background-color: $lightGrey;
  border-radius: 8px;
  height: $px150;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  &:hover {
    box-shadow: 0 0 0 2px #d1d5db;
    cursor: pointer;
  }
}

.pokedex-card-container {
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    .pokedex-card-info img {
      margin-bottom: 20px;
      transform: perspective(120cm) translateZ(800px);
    }
  }
}

.pokedex-card-info img {
  @include putSameValue(140px, width, height);
  image-rendering: pixelated;
}

.pokedex-type-word-container {
  @include putSameValue(5px, padding, border-radius);
  text-align: center;
  margin-bottom: 12px;
  font: {
    size: 0.8em;
    weight: bold;
  }
  background-color: $fire-type;
}

.pokedex-card-info > div:last-child {
  display: grid;
}

.pokedex-type-icon {
  place-self: center;
  font-size: 1.4em;
}

.pokedex-buttons-container {
  display: flex;
  flex-direction: row;
}

.background-grass-type {
  background-color: $grass-type;
}

.background-water-type {
  background-color: $aqua-type;
}
.background-fire-type {
  background-color: $fire-type;
}

.background-normal-type {
  background-color: $normal-type;
}

.background-poison-type {
  background-color: $poison-type;
}

.background-flying-type {
  background-color: $flying-type;
}

.background-bug-type {
  background-color: $bug-type;
}

.background-fairy-type {
  background-color: $fairy-type;
}

.background-psychic-type {
  background-color: $psychic-type;
}

.background-electric-type {
  background-color: $electric-type;
}

.background-ground-type {
  background-color: $ground-type;
}

.background-fighting-type {
  background-color: $fighting-type;
}

.background-ghost-type {
  color: white;
  background-color: $ghost-type;
}

.background-dragon-type {
  background-color: $dragon-type;
}

.background-ice-type {
  background-color: $ice-type;
}

.background-rock-type {
  background-color: $rock-type;
}

.background-steel-type {
  background-color: $steel-type;
}

.background-dark-type {
  color: white;
  background-color: $dark-type;
}

@media screen and (max-width: 800px) {
  h1 + div {
    @include putSameValue(center, justify-content, align-items);
    width: $numberInPourcentage100;
    flex-direction: column-reverse;
  }

  main > div:first-child {
    @include putSameValue(auto, margin-right, margin-left);
    min-width: 100%;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .pokedex-card-info {
    width: 250px;
  }

  .pokedex-dropdown-container {
    margin: 0;
  }

  .pokedex-search-bar-container {
    width: 80%;
    margin-bottom: 20px;
  }

  .pokedex-dropdown-container {
    width: 142px;
  }

  .pokedex-card-info img {
    @include putSameValue(135px, width, height);
  }

  h1 {
    text-align: center;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  main > div:first-child {
    grid-template-columns: 1fr;
    min-width: 100%;
  }

  h1 {
    text-align: center;
  }
}


