@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f8fafc;
}

header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 + div:nth-child(2) {
  width: 800px;
  display: flex;
  position: relative;
  height: 150px;
}

#search {
  width: 70%;
  height: 15px;
}

input + div {
  position: absolute;
  bottom: 0;
  top: 2.9px;
  right: 0px;
  left: 89.5%;
  min-width: 35px;
  max-height: 30px;
}

div img {
  width: 30px;
}
div img:hover {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  height: 100vh;
  width: 100%;
}

main > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  min-height: 425px;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Archivo", sans-serif;
}

p {
  margin: 0;
}

input {
  border: 1.5px lightgrey solid;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  font-family: "Archivo", sans-serif;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
input:hover {
  border: 1.5px #000000 solid;
  box-shadow: 0px 0px 20px -17px;
}
input:active {
  transform: scale(0.99);
}
input:focus {
  border: 1.5px #000000 solid;
}

button {
  background-color: white;
  border-collapse: collapse;
  padding: 10px;
  box-shadow: #ededed 0 10px 10px;
  border-radius: 10px;
}

.pokedex-dropdown-container {
  position: relative;
  margin-right: 20px;
  width: 19%;
}
.pokedex-dropdown-container:hover .pokedex-dropdown-options-container {
  display: block;
  top: 38px;
  box-shadow: #ededed 0 10px 10px;
  border: 2px #000000 solid;
  border-radius: 10px;
}

.pokedex-dropdown-options-container {
  display: none;
  position: absolute;
  text-align: center;
  background-color: #fff;
}

.pokedex-dropdown-options-container a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding: 15px 20px;
  width: 102px;
  border-radius: 10px;
  font-family: "Archivo", sans-serif;
}
.pokedex-dropdown-options-container a:hover {
  background-color: #f9fafb;
}

.pokedex-card-container {
  margin: 30px 10px 0 10px;
  height: 150px;
}

.pokedex-card-info {
  display: grid;
  grid-template-columns: [first] 30% [second] 45% [third] 25%;
  grid-template-rows: [row1-start] 80% [row2-start] 20%;
  background-color: #ededed;
  box-shadow: 0 0.4rem #dfd9d9;
  border-radius: 8px;
  width: 20vw;
  height: 150px;
  place-items: center;
}

.pokedex-card-info img {
  width: 150px;
  height: 150px;
  image-rendering: pixelated;
}
.pokedex-card-info img:hover {
  cursor: default;
}

div ~ p {
  grid-column-start: second;
  grid-row-start: row2-start;
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}

.pokedex-type-word-container {
  padding: 5px;
  border-radius: 5px;
  font-family: "Archivo", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #57c4e5;
}

.pokedex-type-icon {
  padding: 0px 0px 10px 5px;
}

.pokedex-card-number-container {
  font-weight: bold;
  font-family: "Archivo", sans-serif;
}

/*# sourceMappingURL=index.css.map */
