@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap");

$black: #000000;
$font-archivo: "Archivo", sans-serif;
$grass-type: #79b473;
$aqua-type: #57c4e5;
$fire-type: #ff4e00;
$normal-type: #d7dae5;
$poison-type: #bc76ae;
$flying-type: #85aeff;
$bug-type: #bcc949;
$fairy-type: #ffbdff;
$psychic-type: #ff76ae;
$electric-type: #ffd759;
$ground-type: #e5c976;
$fighting-type: #c97668;
$dragon-type: #9385f2;
$ice-type: #9ccef6;
$ghost-type: #382856;
$rock-type: #826155;
$steel-type: #bcbdc9;
$dark-type: #000000;

$numberInPourcentage100: 100%;
$px150: 150px;
$lightGrey: #ededed;

* {
  font-family: $font-archivo;
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
}

@mixin border($border-size, $border-color) {
  border: $border-size $border-color solid;
}

@mixin putSameValue($value, $properties...) {
  @each $property in $properties {
    #{$property}: $value;
  }
}

html,
body {
  @include putSameValue(0, padding, margin);
  @include putSameValue(100%, height, width);
  background-color: #f8fafc;
}

header > div {
  @include putSameValue(center, justify-content, align-items);
  @include putSameValue(auto, margin-left, margin-right);
  display: flex;
  flex-direction: column;
  min-width: $numberInPourcentage100;
}

h1 + div:nth-child(2) {
  width: 800px;
  display: flex;
  flex-direction: row;
}

input + div {
  @include putSameValue(35px, max-height, min-width);
  display: flex;
  align-items: center;
}

div img {
  width: 30px;

  &:hover {
    cursor: pointer;
  }
}

main {
  @include putSameValue(100%, height, width);
  @include putSameValue(auto, margin-right, margin-left);
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: center;
  margin-top: 30px;
}

main > div:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 180px);
  place-items: center;
  width: 33%;
  min-width: 960px;
  height: 115%;
}

button:only-child {
  @include putSameValue(auto, margin-left, margin-right);
  @include putSameValue(0, bottom, left, right);
  position: fixed;
  z-index: 3;
  width: 100px;
  margin-bottom: 30px;
}

p {
  margin: 0;

  &::first-letter {
    text-transform: capitalize;
  }
}

button {
  @include putSameValue(10px, padding, border-radius);
  @include box-shadow($lightGrey 0 10px 10px);
  background-color: white;
  border-collapse: collapse;
  &:hover {
    cursor: pointer;
  }
}

div ~ p {
  grid-column-start: second;
  grid-row-start: row2-start;

  font: {
    weight: bold;
    size: 1em;
  }
}

.pokedex-search-bar-container {
  @include border(1.5px, lightgrey);
  @include box-shadow(0px 0px 20px -18px);
  @include putSameValue(center, align-items, justify-content);
  border-radius: 10px;
  display: flex;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #fff;
  width: $numberInPourcentage100;

  &:hover {
    @include border(1.5px, $black);
    @include box-shadow(0px 0px 20px -17px);
  }
  &:active {
    transform: scale(0.99);
  }
}

.pokedex-search-bar-container input {
  @include putSameValue(10px, padding, border-radius);
  width: $numberInPourcentage100;
  border: none;
  font-weight: bold;

  &:focus {
    outline: none;
  }
}

.pokedex-dropdown-container {
  position: relative;
  margin-right: 20px;
  width: 187px;

  &:hover .pokedex-dropdown-options-container {
    @include border(2px, $black);
    @include box-shadow($lightGrey 0 10px 10px);
    display: block;
    top: 38px;
    border-radius: 10px;
  }
}

.pokedex-dropdown-options-container {
  display: none;
  position: absolute;
  text-align: center;
  background-color: #fff;
}

.pokedex-dropdown-options-container a {
  display: block;
  color: $black;
  text-decoration: none;
  padding: 15px 20px;
  width: 97px;
  border-radius: 10px;

  &:hover {
    background-color: #f9fafb;
  }
}

.pokedex-card-container {
  margin: 15px 10px 0 10px;
  height: $px150;
}

.pokedex-card-info {
  @include putSameValue(300px, width, max-width);
  @include box-shadow(0 0.5rem #dfd9d9);
  display: grid;
  grid-template-columns: [first] 30% [second] 45% [third] 25%;
  grid-template-rows: [row1-start] 80% [row2-start] 20%;
  background-color: $lightGrey;
  border-radius: 8px;
  height: $px150;
  place-items: center;
}

.pokedex-card-info img {
  @include putSameValue(140px, width, height);
  image-rendering: pixelated;

  &:hover {
    cursor: default;
  }
}

.pokedex-type-word-container {
  @include putSameValue(5px, padding, border-radius);
  text-align: center;
  margin-bottom: 12px;
  font: {
    size: 0.8em;
    weight: bold;
  }
  background-color: $fire-type;
}

.pokedex-card-info > div:last-child {
  display: grid;
}

.pokedex-type-icon {
  place-self: center;
}


.background-grass-type {
  background-color: $grass-type;
}

.background-water-type {
  background-color: $aqua-type;
}
.background-fire-type {
  background-color: $fire-type;
}

.background-normal-type {
  background-color: $normal-type;
}

.background-poison-type {
  background-color: $poison-type;
}

.background-flying-type {
  background-color: $flying-type;
}

.background-bug-type {
  background-color: $bug-type;
}

.background-fairy-type {
  background-color: $fairy-type;
}

.background-psychic-type {
  background-color: $psychic-type;
}

.background-electric-type {
  background-color: $electric-type;
}

.background-ground-type {
  background-color: $ground-type;
}

.background-fighting-type {
  background-color: $fighting-type;
}

.background-ghost-type {
  color: white;
  background-color: $ghost-type;
}

.background-dragon-type {
  background-color: $dragon-type;
}

.background-ice-type {
  background-color: $ice-type;
}

.background-rock-type {
  background-color: $rock-type;
}

.background-steel-type {
  background-color: $steel-type;
}

.background-dark-type {
  color: white;
  background-color: $dark-type;
}


@media screen and (max-width: 800px) {
  h1 + div:nth-child(2) {
    @include putSameValue(center, justify-content, align-items);
    width: $numberInPourcentage100;
    flex-direction: column-reverse;
  }

  main > div:first-child {
    @include putSameValue(auto, margin-right, margin-left);
    min-width: 100%;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .pokedex-card-info {
    width: 250px;
  }

  .pokedex-dropdown-container {
    margin: 0;
  }

  .pokedex-search-bar-container {
    width: 80%;
    margin-bottom: 20px;
  }

  .pokedex-dropdown-container {
    width: 142px;
  }

  .pokedex-card-info img {
    @include putSameValue(135px, width, height);
  }

  h1 {
    text-align: center;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  main > div:first-child {
    grid-template-columns: 1fr;
    min-width: 100%;
  }
}