.pokedex-loader-animation {
    .pokedex-loader-main-container {
      animation: pokedex_main_loader_container_rotation 1.5s infinite;
      width: 44px;
      height: 44px;
    }
  
    .pokedex-loader-main-container > div {
      width: 44px;
      height: 44px;
      position: absolute;
    }
  
    div > div:only-child {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  
    .pokedex-loader-ball {
      animation: pokedex_loader_balls_animation 1.5s infinite ease;
    }
  
    #pokedex-loader-ball-one {
      background-color: #cb2025;
      top: 0;
      left: 0;
    }
  
    #pokedex-loader-ball-two {
      background-color: #f8b334;
      top: 0;
      left: 24px;
    }
  
    #pokedex-loader-ball-three {
      background-color: #00a096;
      top: 24px;
      left: 0;
    }
  
    #pokedex-loader-ball-four {
      background-color: #97bf0d;
      top: 24px;
      left: 24px;
    }
  }

@keyframes pokedex_loader_balls_animation {
    0% {
      position: absolute;
    }
    50% {
      top: 12px;
      left: 12px;
      position: absolute;
      opacity: 0.5;
    }
    100% {
      position: absolute;
    }
  }
  
  @keyframes pokedex_main_loader_container_rotation {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(360deg) scale(1.3);
    }
    100% {
      transform: rotate(720deg) scale(1);
    }
  }